[submodule "sources/zola-linkita"]
	path = sources/zola-linkita
	url = https://github.com/WindAflame/Blog.git
[submodule "sources/hugo-initio"]
	path = sources/hugo-initio
	url = https://github.com/WindAflame/Blog.git
[submodule "sources/hugo-plate"]
	path = sources/hugo-plate
	url = https://github.com/WindAflame/Blog.git
[submodule "sources/hugo-resume"]
	path = sources/hugo-resume
	url = https://github.com/WindAflame/Blog.git
[submodule "sources/hugo-stack"]
	path = sources/hugo-stack
	url = https://github.com/WindAflame/Blog.git
[submodule "scripts/igdb-data-py"]
	path = scripts/igdb-data-py
	url = https://github.com/WindAflame/Blog.git
[submodule "scripts/gen-igdb-article-py"]
	path = scripts/gen-igdb-article-py
	url = https://github.com/WindAflame/Blog.git
