{% import "components/i18n.html" as _str %}
{%- set igdb_game_data = load_data(path="static/" ~ page.extra.igdb.id ~ ".json", format="json") %}
{%- set igdb_trans_data = load_data(path="templates/shortcodes/igdb."~lang~".json", format="json", required=false) %}
{%- if not igdb_trans_data %}
  {%- set igdb_trans_data = load_data(path="templates/shortcodes/igdb.en.json", format="json") %}
{%- endif %}
<div>
    <ul>
        <li>
            <strong>{{ _str::tr(key="igdb_company", d=igdb_trans_data) }}:</strong>
            {% for item in igdb_game_data.involved_companies %}
                <a href="https://www.igdb.com/companies/{{item.slug}}">{{item.name}}</a>{% if loop.index < igdb_game_data.involved_companies|length %},{% endif %}
            {%- endfor %}
        </li>
        <li>
            <strong>{{ _str::tr(key="igdb_genre", d=igdb_trans_data) }}:</strong>
            {% for item in igdb_game_data.genres %}
                <a href="https://www.igdb.com/genres/{{item.slug}}">{{item.name}}</a>{% if loop.index < igdb_game_data.genres|length %},{% endif %}
            {%- endfor %}
        </li>
        <li>
            <strong>{{ _str::tr(key="igdb_platform", d=igdb_trans_data) }}:</strong>
            {% for item in igdb_game_data.platforms %}
                <a href="https://www.igdb.com/genres/{{item.slug}}">{{item.name}}</a>{% if loop.index < igdb_game_data.platforms|length %},{% endif %}
            {%- endfor %}
        </li>
        {%- if igdb_game_data.game_type == "Remake"%}
        <li><strong>{{ _str::tr(key="igdb_remake", d=igdb_trans_data) }}:</strong> 
            <a href="https://www.igdb.com/games/{{igdb_game_data.parent_game.slug}}">{{igdb_game_data.parent_game.name}}</a>
        </li>
        {%- endif %}
        <li><strong>{{ _str::tr(key="igdb_synopsis", d=igdb_trans_data) }}:</strong></li>
    </ul>
    <p>{{igdb_game_data.summary}}</p>
    {%- if igdb_game_data.videos %}
    <ul>
        <li>
            <strong>{{ _str::tr(key="igdb_trailer", d=igdb_trans_data) }}:</strong>
        </li>
    </ul>
    {%- set id = igdb_game_data.videos[0] %}
    {% include "shortcodes/youtube.html" %}
    {%- endif %}
    {%- if igdb_game_data.aggregated_rating and igdb_game_data.rating %}
    <ul>
        <li><strong>{{ _str::tr(key="igdb_review", d=igdb_trans_data) }}:</strong> 
            {{ _str::tr(key="igdb_review_critic", d=igdb_trans_data) }} : {{igdb_game_data.aggregated_rating}} 
            | {{ _str::tr(key="igdb_review_user", d=igdb_trans_data) }} : {{igdb_game_data.rating}}
        </li>
    </ul>
    {%- endif %}

    <small style="font-style: italic;">{{ _str::tr(key="igdb_nfo", d=igdb_trans_data) }}<a
            href="https://www.igdb.com/games/{{igdb_game_data.slug}}">IGDB</a></small>
</div>