+++
title = "{{ game_name }}"
description = "Review of {{ game_name }} (IGDB: {{ igdb_id }})"
date = {{ date }}
# updated = {{ date }}
path = "{{ igdb_id }}"
draft = true
[extra]
[extra.cover]
image_url = "{{ banner_url }}"
alt = "{{ game_name }} - Banner"
width = 1920
height = 620
[extra.igdb]
id = "{{ igdb_id }}"
[taxonomies]
tags = ["game", "review", "{{ igdb_id }}"]
authors = ["{{ author }}"]
+++

## About this game

{% raw %}{{ igdb() }}{% endraw %}

## Introduce

## My review

>Title
>
>Resume
{%- if update_url %}

## Update Details

[![{{ update_title }}]({{ banner_url }})]({{ update_url }})
{%- endif %}

## Links

- {% raw %}{{ igdb_url() }}{% endraw %}
{%- if update_url %}
- [{{ update_title }}]({{ update_url }})
{%- endif %}
