+++
title = "{{ game_name }}"
description = "Mon avis sur {{ game_name }} (IGDB: {{ igdb_id }})"
date = {{ date }}
# updated = {{ date }}
path = "fr/{{ igdb_id }}"
draft = true
[extra]
[extra.cover]
image_url = "{{ banner_url }}"
alt = "{{ game_name }} - Banner"
width = 1920
height = 620
[extra.igdb]
id = "{{ igdb_id }}"
[taxonomies]
tags = ["game", "review", "{{ igdb_id }}"]
authors = ["{{ author }}"]
+++

## Informations sur ce jeu

{% raw %}{{ igdb() }}{% endraw %}

## Présentation du jeu

## Mon avis

Est-ce que mon avis vous importe ?

>Titre
>
>Résumé synthétique
{%- if update_url %}

## Détails de la mise à jour

[![{{ update_title }}]({{ banner_url }})]({{ update_url }})
{%- endif %}

## Liens

- {% raw %}{{ igdb_url() }}{% endraw %}
{%- if update_url %}
- [{{ update_title }}]({{ update_url }})
{%- endif %}
