+++
title = "{{ game_name }}: {{ update_title }}"
description = "Mon avis sur la MAJ ({{ date }}) de {{ game_name }}"
date = {{ date }}
# updated = {{ date }}
path = "fr/{{ igdb_id }}"
draft = true
[extra]
[extra.cover]
image_url = "{{ banner_url }}"
alt = "A Markdown logo"
width = 1920
height = 620
[extra.igdb]
id = "{{ igdb_id }}"
[taxonomies]
tags = ["game", "review"]
authors = ["{{ author }}"]
+++

## Informations sur ce jeu

{% raw %}{{ igdb() }}{% endraw %}

## Présentation du jeu

## Mon avis

Est-ce que mon avis vous importe ?

>Title
>
>Résumé synthétique

## Détails de la mise à jour

[![{{ update_title }}]({{ banner_url }})]({{ update_url }})

## Liens

- {% raw %}{{ igdb_url() }}{% endraw %}
- [{{ update_title }}]({{ update_url }})
