<main id="main">

	<div class="container">

        {{ if .Site.Params.showSection1 }}
            {{ partial "subheader.html" . }}
        {{ end }}

        {{ if .Site.Params.showSection2 }}
            {{ partial "projects.html" . }}
        {{ end }}

        {{ if .Site.Params.showSection3 }}
            {{ partial "_empty.html" . }}
        {{ end }}

        {{ if .Site.Params.showSection4 }}
            {{ partial "_empty.html" . }}
        {{ end }}

        {{ if .Site.Params.showSection5 }}
            {{ partial "_empty.html" . }}
        {{ end }}

        {{ if .Site.Params.showSection6 }}
            {{ partial "_empty.html" . }}
        {{ end }}

        {{ if .Site.Params.showSection7 }}
            {{ partial "_empty.html" . }}
        {{ end }}

        {{ if .Site.Params.showSection8 }}
            {{ partial "_empty.html" . }}
        {{ end }}

        {{ if .Site.Params.showSection9 }}
            {{ partial "_empty.html" . }}
        {{ end }}

	</div>	<!-- /container -->

</main>
