<div class="row section recentworks topspace">

        <h2 class="section-title"><span>Projects</span></h2>
    
        <div class="thumbnails recentworks">
            
            {{ range $index, $area := .Site.Data.projects }}
    
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">                
                <h3 class="text-center">{{ .name }}</h3>                
                <p><center>{{ .describ }}</center></p>
                
                <p class="text-center">
                    <a {{ if .targeted }} target="_blank" {{ end }} href="{{ .url }}" class="btn btn-action">
                        {{ if .btn_label }}
                            {{ .btn_label }}
                        {{ else }}
                            See details
                        {{ end }}
                    </a>
                </p>
                <span class="details">
                    {{ $len := sub (len .items) 1 }}
                    {{ range $i, $item := where .items "id" .index }}
                        <a target="_blank" href="{{ .url }}">{{ .name }}</a>
                        {{ if gt $len $i }} | {{ end }}
                    {{ end }}
                </span>
            </div>
        
            {{ end }}
    
        </div>
    
    </div> <!-- /section -->
    